.notification-view {
  position: fixed;
  top: 0;
  width: 100%;
  overflow-y: hidden;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 2s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.notification-body {
  display: flex;
  flex-direction: row;
  padding: 12px 0;
}

.notification-content {
  flex-grow: 1;
  margin: 0 0 0 12px;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 18px;
  color: #eee;
  word-wrap: break-word;
}

.notification-close {
  cursor: pointer;
  flex: 0 0 50px;
  font-size: 26px;
  text-align: center;
  color: #eee;
}