
.container h1 {
  margin: 18px 0;
  font-size: 24px;
}

.container h2 {
  margin: 16px 0;
  padding: 0 0 3px;
  font-size: 20px;
  border-bottom: 2px dotted #ffc78f;
}

.container h3 {
  margin: 14px 0;
  font-size: 16px;
}

.container p {
  margin: 8px 0;
}

.container ul {
  margin: 0 0 0 28px;
  list-style-type: disc;
}

.container {
  background: #fff7ef;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.container {
  padding: 10px;
  color: #333;
  font-size: 14px;
  font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  line-height: 1.5;
}

.section {
  padding: 6px 0;
}

ul.list_sentence > li {
  margin: 6px 0;
}
